/* ------------------------------------------------------------------------------------------
BASE
------------------------------------------------------------------------------------------ */

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/* ------------------------------------------------------------------------------------------
ELEMENTS
------------------------------------------------------------------------------------------ */

body{
    font-family: "Roboto", serif;
    font-size: 18px;

    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

.wrapper{
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
}

/* ------------------------------------------------------------------------------------------
COMPONENTS
------------------------------------------------------------------------------------------ */

/* ----- Header ----- */

header{
    background-color: #F26C25;

    padding-top: 10px;
    padding-bottom: 10px;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

header p{
    font-size: 36px;
    font-weight: bold; 
}

header ul{
    list-style: none;
    display: flex;
    gap: 40px;
}

header a{
    color: #FFFFFF;
}

header nav a:hover{
    text-decoration: underline;
}

/* ----- Seaction Banière ----- */

.banière{
    background-color: #EEEEEE;

}

.banière .wrapper{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 20%;
}

/* ----- Section Transport ----- */

.transport{
    
}

.titre-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;

    background-color: #EEEEEE;
    border: solid 1px #D0D0D0;

    margin-top: 80px;
    margin-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

h2{
    font-size: 18px;
    font-weight: bold;
}

.conteneur-transport{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;

    margin-bottom: 60px;
}

h3{
    font-size: 36px;
    font-weight: 300;
    text-align: center;

    margin-bottom: 0px;
}

article p{

}

/* ----- Footer ----- */

.facebook a{
    background-image: url(../images/facebook_nb.jpg);
}

.twitter a{
    background-image: url(../images/twitter_nb.jpg);
}

.linkedin a{
    background-image: url(../images/linkedin_nb.jpg);
}

.pinterest a{
    background-image: url(../images/pinterest_nb.jpg);
}



.facebook a:hover{
    background-image: url(../images/facebook_survol.jpg);
}

.twitter a:hover{
    background-image: url(../images/twitter_survol.jpg);
}

.linkedin a:hover{
    background-image: url(../images/linkedin_survol.jpg);
}

.pinterest a:hover{
    background-image: url(../images/pinterest_survol.jpg);
}

footer a{
    display: inline-block;
    width: 32px;
    height: 32px;
}

footer ul{
    display: flex;
    gap: 20px;
    
    text-decoration: none;
}

footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: #000000;
}

h4{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}